

.products-container{
    max-width: 650px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 50px;
    flex: wrap;
    padding-bottom: 100px;
}

.product-header {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgray;
    margin: 0 auto;
}

.product-title{
    width: 45%;
}
.price {
    width: 15%;
    border-bottom: 4px solid lightgray;
    display: flex;
    align-items: center;
}

.quantity{
    width: 30%;
    border-bottom: 4px solid lightgray;
    display: flex;
    align-items: center;
}

.total{
    width: 10%;
    border-bottom: 4px solid lightgray;
    display: flex;
    align-items: center;
}
.product{
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 4px solid lightgray;
}

.products{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.products img{
    width: 75px;
}

.basketTotalContainer{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}

.basketTotalTitle{
    width: 30%;
}

.basketTotal {
    width: 10%;
}